<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>        
       <h2>@ViewData["ValidEditUser"]</h2>
        <text>.</text> <br />
        <text>.</text> <br />
        <text>.</text> <br />
        <text>.</text> <br />
        <text>.</text> <br />
        <text>.</text> <br />
        <text>.</text> <br />
        <text>.</text> <br />
        <text>.</text> <br />
        <h4>Please contact your admin team for help</h4>
    </hgroup>
</body>
</html>
